<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="background-color:#34495e">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#1abc9c;border:none;color:white;height:70px">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="    margin-left: 280px;">
                    <li>
                        <marquee><h2>Welcome To Lab Service Corporation</h2></marquee>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        
                    @RenderBody()
             
        </div>
   
      
     
        <footer>
          <!--- <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>--->
        </footer>
    </div>

    
</body>
</html>