 
@{

        ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/HCPMaster.cshtml";
}

<h2>Notification</h2>

 @if(ViewData["successmsg"] != null)
    {
<div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @ViewData["successmsg"]
</div>
    }