
@{
    ViewBag.Title = "Notification";
   
}

@if (ViewData["errormsg"] != null)
    {
<div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @ViewData["errormsg"]
</div>

    }
    else if (ViewData["successmsg"] != null)
    {
<div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @ViewData["successmsg"]
</div>
    }

